<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title class = "waan">Create Rong {% block title %}{% endblock %}</title>

    </head>
    <style>
        .what
        {
        display: flex;
        margin-top:6px;
        vertical-align:middle;
        align-items: center;
        justify-content: center;
        margin-top:25px;
        flex-direction:column;

        }

        .createbutton
        {
            text-align: center;
            margin-top: 20px;
        }
        body
        {
             background: #3da4ab;

        }

    </style>
    <script>
    function myFunction(event)
        {

            if (event.target.form.rongcapacity.value == "" || event.target.form.rongname.value == "")
            {
                checker = "true"
                alert("You forgot to fill in one of the forms")
                var xhttp = new XMLHttpRequest();
                xhttp.open("POST", "creatingrong", true)
                xhttp.setRequestHeader("Content-Type", "application/json");
                data = JSON.stringify({"checker": checker});

                throw new Error()
            }

            if (event.target.form.rongcapacity.value != "" && event.target.form.rongname.value != "")
            {
                rongcapacity = event.target.form.rongcapacity.value
                rongname = event.target.form.rongname.value
                var xhttp = new XMLHttpRequest();
                    xhttp.open("POST", "creatingrong", true)
                    xhttp.setRequestHeader("Content-Type", "application/json");
                    data = JSON.stringify({"rongname": rongname, "rongcapacity": rongcapacity});


                    xhttp.send(data)

            }



        }
        </script>

    <body>

        <nav class="navbar navbar-expand-md navbar-light bg-warning ">
            <a class="navbar-brand" href="/"><span class="blue">R</span><span class="red">A</span><span class="yellow">V</span><span class="green">I</span> <span class="red">Mellon</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">

                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/">Today</a></li>
                        <li class="nav-item"><a class="nav-link" href="/rong">โรง</a></li>
                        <li class="nav-item"><a class="nav-link" href="/management">Management</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="/assumption">Assumption</a></li>

                    </ul>

            </div>
        </nav>


   <form action="/creatingrong" method="post">
        <div class="what">
            <input type = "number" id = "rongname" name="rongnum" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" placeholder="โรง number..." type="text">


            <input type = "number" id ="rongcapacity" min="0" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"name="rongcapacity" placeholder="capacity..." type="text">
            </div>
        <div class = createbutton>
        <button class="btn btn-primary" onclick="myFunction(event)" type="submit">Create New โรง</button>
        </div>


    </form>

    </body>

</html>
