<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon.ico" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title class = "waan">RAVI Mellon: {% block title %}{% endblock %}</title>

    </head>
    <style>
   body {
  background: #3da4ab;
  font-family: 'Raleway', sans-serif;
}



body {
  background: #3da4ab;
  font-family: 'Raleway', sans-serif;
}


.button:hover
{
    cursor:pointer;
}


.navbar-waan{
    height:auto;
    margin-top:-3px;
}

.he
{

   flex-direction: column;
   position: relative;
   padding-top:20px;
   padding-bottom:10px;


}
.navbar a{
    font-family: Verdana;
}
.input
{
    height: 25px;
}
.deletebutton{
    background: #d9534f;
    border:#d9534f;
    color: white;
    margin-bottom:-2px;

    height: 24px;
    margin-top:5px;
}
.deletebuttonn{
    background: #d9534f;
    border:black;
    color: white;
    margin-left:-4px;
    height: 24px;
    margin-top:5px;

}



.itsme
{
    font-family: courier;
    font-size:25px;
    color: black;


}
.itsmesecond
{
    font-family: courier;
    font-size:25px;
    color: black;
    padding-bottom:25px;

}
.titlef
{
    font-family: courier;
    font-size:17px;
    color: black;


}
.block1
{

    margin-bottom: 100px;
    margin-top: 10px;

}
.block2
{

    margin-bottom: 100px;
    margin-top: 10px;

}



.idk {
  margin-top:30px;
  margin-bottom:30px;




}


.pls
{
    margin-top: 100px;
}

.row{

    margin-bottom:150px;
    margin-top:50px;

}
.me
{
    display: flex;
    vertical-align:middle;
    align-items: center;
    flex-direction: column;
    color:yellow;
    padding-left: 20px;

}
.firstblock
{
    display: flex;
    vertical-align:middle;
    align-items: center;
    flex-direction: column;
    color:yellow;
    margin-bottom:-10px;
    padding-left: 5px;
    margin-top:80px;

}
.firstblockstartdate
{
    display: flex;
    vertical-align:middle;
    align-items: center;
    flex-direction: column;
    color:yellow;
    margin-bottom:-10px;
    padding-left: 105px;
    margin-top:80px;

}

.mee
{
    display: flex;
    vertical-align:middle;
    align-items: center;
    flex-direction: column;
    margin-left:20px;
}

.br
{
    line-height:50px;
}
.goleft{
    margin-left:20px;
}
.goleftt{
    margin-left:20px;
}
.h6{
    margin-left:5px;
}
.golefttt{
    margin-left:20px;
    margin-top: 10px;
}
.carousel
{
    height:300px;
}

.carousel slide
{
    background-color:black;
}
.beforefirsthalf
{
    background-color: #05386B;
}
.beforesecondhalf
{
    background-color: #00303F;
    margin-top:30px;
}
.yea
{
    text-align:center;
    background:#5cb85c;
    font-family:sans-serif;
    border-radius:10px;
    border-color:red;
    cursor:pointer;
    font-size:20px;
    width:75px;
    height:50px;
}
.forfirstblockpadding
{
    padding-bottom: 50px;
}
.fortopcss
{
    margin-top:10px;
}
.bg
{
    margin-top:50px;
}
.makeitacolumn
{
    display:flex;
    flex-direction:column;
}
.addinformation
{
    background: #0275d8;
    color:white;
    border:#0275d8;
    display: flex;
    margin-top:10px;
    vertical-align:middle;
    align-items: center;
    justify-content: center;
    margin-left:87px;
    padding: 6px 9px;

}
.me2
{
    display:flex;
    vertical-align:middle;
     align-items: center;
     margin-left:20px;
}
.clarification
{
    color:yellow;

}
.carousel-control-prev-icon:hover
{
    cursor:pointer;

}

.carousel-control-next-icon:hover

{
    cursor:pointer;

}
.hover
{
    padding-bottom:30px;
}
.hoverr
{
    padding-bottom:30px;
}
.rongname
{
text-align:center;
flex-direction: column;
padding-top:20px;
padding-bottom:10px;
font-size:20px;
}
.he
{

   flex-direction: column;
   position: relative;
   padding-top:20px;
   padding-bottom:10px;

}

.formnote
{
    color:yellow;
    height:250px;
}
.textarea
{
    height:80px;
}
.whatev
{
    margin-right:5px;

}
.btn{
    color:black;
}
.weknow{
        margin-left:65px;
}

.weknowdelete
{
    margin-left:4px;
    background: #d9534f;
    border:#d9534f;
    color:white;

}
.navbar a{
    font-family: Verdana;
}
.weknowdeletee
{
    background: #d9534f;
    border:#d9534f;
    color:white;

}
.addmed
{
    background: #0275d8;
    color:white;
    border:#0275d8;
    display: flex;
    margin-top:10px;
    vertical-align:middle;
    align-items: center;
    justify-content: center;
    margin-left:30px;
}
.table
{
    margin-top:10px;
    border:#d9534f;
    outline-color:#d9534f;

}
.fb
{
    background-color:#f6cd61;
    border:#d9534f;
}
.nfb
{
    background-color:#fe8a71;
}
.idkfb
{
    background-color:#90C978;
}
.lastonefb
{
    background-color:#fe8a71;
}
.rongname
{
text-align:center;
flex-direction: column;
padding-top:20px;
padding-bottom:10px;
font-size:20px;
}
.todaynav
{
    background-color:#ffb347;

}

    </style>

 <script>
        var counter = 1;
        var limit = 100000;
        var fordelete = 0;
        function addInput(divName){
     if (counter == limit)  {
          alert("You have reached the limit of adding " + counter + " inputs");
     }
     else {
          var newdiv = document.createElement('div');

          newdiv.id = divName + counter;
          var str=divName + "waan";
          str = str.concat(counter);
          var names = divName;
          var strr= divName + counter + divName;
          console.log("newdiv", newdiv)
          console.log("divName", divName)
          console.log("str", str)



          console.log("waan")
          console.log("divname", divName)
          console.log("newdiv", newdiv)

          if (divName == "newptb")
          {
          newdiv.innerHTML =  "<select id = 'newptb' class='weknow'> {% for row in itemsptbdd %} <option id = '"+str+"' name = 'optionseedspecies'  value='{{row.ptbddd}}'>{{row.ptbddd}}</option> {% endfor %} </select>" +  "<input type='number'class='mee' min ='0' id ='"+strr+"' name='myInputs[]'>" + "<input type='button'class='weknowdelete' value='x' name='myInputs[]' onClick='deleteInput(event);\'>";
          document.getElementById(divName).appendChild(newdiv);
          }
          else if(divName == "newptbsecond")
          {
          newdiv.innerHTML =  "<select id = 'select1' class='weknow'> {% for row in itemsptbdd %} <option id = '"+str+"' name = 'optionseedspecies' value='{{row.ptbddd}}'>{{row.ptbddd}}</option> {% endfor %} </select>" +  "<input type='number'class='mee' min ='0' id ='"+strr+"' name='myInputs[]'>" + "<input type='button'class='weknowdelete' value='x' name='myInputs[]' onClick='deleteInput(event);\'>";
          document.getElementById(divName).appendChild(newdiv);
          }
          else if(divName == "newptbsecondsecond")
          {
          newdiv.innerHTML =  "<select id = 'select1'class='weknow'> {% for row in itemsptbdd %} <option id = '"+str+"' name = 'optionseedspecies' value='{{row.ptbddd}}'>{{row.ptbddd}}</option> {% endfor %} </select>" +  "<input type='number'class='mee' min ='0' id ='"+strr+"' name='myInputs[]'>" + "<input type='button'class='weknowdelete' value='x' name='myInputs[]' onClick='deleteInput(event);\'>";
          document.getElementById(divName).appendChild(newdiv);
          }
          else if(divName == "newptbsecondtwo")
          {
          newdiv.innerHTML =  "<select id = 'select1'class='weknow'> {% for row in itemsptbdd %} <option id = '"+str+"' name = 'optionseedspecies' value='{{row.ptbddd}}'>{{row.ptbddd}}</option> {% endfor %} </select>" +  "<input type='number'class='mee' min ='0' id ='"+strr+"' name='myInputs[]'>" + "<input type='button'class='weknowdelete' value='x' name='myInputs[]' onClick='deleteInput(event);\'>";
          document.getElementById(divName).appendChild(newdiv);
          }
          else if(divName == "newptbsecondthree")
          {
          newdiv.innerHTML =  "<select id = 'select1'class='weknow'> {% for row in itemsptbdd %} <option id = '"+str+"' name = 'optionseedspecies' value='{{row.ptbddd}}'>{{row.ptbddd}}</option> {% endfor %} </select>" +  "<input type='number'class='mee' min ='0' id ='"+strr+"' name='myInputs[]'>" + "<input type='button'class='weknowdelete' value='x' name='myInputs[]' onClick='deleteInput(event);\'>";
          document.getElementById(divName).appendChild(newdiv);
          }



          if (divName == "newmedicine")
          {
          newdiv.innerHTML =  "<select id = '"+str+"' class='weknow'> {% for row in itemsmedicinedd %} <option id = '"+str+"' name = 'optionseedspecies' value='{{row.medicineddd}}'>{{row.medicineddd}}</option> {% endfor %} </select>"   +  "<input type='number'class='mee' min ='0' id ='"+strr+"' name='myInputs[]'>" + "<input type='button'class='weknowdelete' value='x' name='myInputs[]' onClick='deleteInput(event);\'>" + "<input type='button' class='addinformation' value='+' onClick='addDay();'>";
          document.getElementById(divName).appendChild(newdiv);
          }
          else if (divName == "newmedicinesecond")
          {
          newdiv.innerHTML =  "<select id = 'select1' class='weknow'> {% for row in itemsmedicinedd %} <option id = '"+str+"' name = 'optionseedspecies' value='{{row.medicineddd}}'>{{row.medicineddd}}</option> {% endfor %} </select>"   +  "<input type='number'class='mee' min ='0' id ='"+strr+"' name='myInputs[]'>" + "<input type='button'class='weknowdelete' value='x' name='myInputs[]' onClick='deleteInput(event);\'>";
          document.getElementById(divName).appendChild(newdiv);
          }
          else if (divName == "newmedicinesecondsecond")
          {
          newdiv.innerHTML =  "<select id = 'select1' class='weknow'> {% for row in itemsmedicinedd %} <option id = '"+str+"' name = 'optionseedspecies' value='{{row.medicineddd}}'>{{row.medicineddd}}</option> {% endfor %} </select>"   +  "<input type='number'class='mee' min ='0' id ='"+strr+"' name='myInputs[]'>" + "<input type='button'class='weknowdelete' value='x' name='myInputs[]' onClick='deleteInput(event);\'>";
          document.getElementById(divName).appendChild(newdiv);
          }
          else if (divName == "newmedicinesecondtwo")
          {
          newdiv.innerHTML =  "<select id = 'select1' class='weknow'> {% for row in itemsmedicinedd %} <option id = '"+str+"' name = 'optionseedspecies' value='{{row.medicineddd}}'>{{row.medicineddd}}</option> {% endfor %} </select>"   +  "<input type='number'class='mee' min ='0' id ='"+strr+"' name='myInputs[]'>" + "<input type='button'class='weknowdelete' value='x' name='myInputs[]' onClick='deleteInput(event);\'>";
          document.getElementById(divName).appendChild(newdiv);
          }
          else if (divName == "newmedicinesecondthree")
          {
          newdiv.innerHTML =  "<select id = 'select1' class='weknow'> {% for row in itemsmedicinedd %} <option id = '"+str+"' name = 'optionseedspecies' value='{{row.medicineddd}}'>{{row.medicineddd}}</option> {% endfor %} </select>"   +  "<input type='number'class='mee' min ='0' id ='"+strr+"' name='myInputs[]'>" + "<input type='button'class='weknowdelete' value='x' name='myInputs[]' onClick='deleteInput(event);\'>";
          document.getElementById(divName).appendChild(newdiv);
          }
          else if (divName == "newmedicineontop")
          {
             newdiv.innerHTML = "<select id = 'select1' name = 'selectmed'  onchange ='selectmedicine(event)'> {% for row in itemsmedicinedd %} <option id = '"+str+"' name = 'optionseedspecies' value='{{row.medicineddd}}'>{{row.medicineddd}}</option> {% endfor %} </select>" + "<input type='button'class='weknowdelete' value='x' name='myInputs[]' onClick='deleteInput(event);\'>";
             document.getElementById(divName).appendChild(newdiv);

          }



          counter++;
     }
        }

        function deleteInput(event){
            var counter = 0
            id = event.target.parentElement.id;
            console.log("id", id)
            what = document.getElementById(id);
            idk = ""

            if (id.charAt(0) != "S" || id.charAt(0) != "w"){
                ngong = document.getElementById(id).childNodes[1].value;

                console.log("ngong", ngong)
                console.log("what",  document.getElementById(id).childNodes[0].value)

            }

            if (id.charAt(0) == "S" || id.charAt(0) == "w"){
                idk = document.getElementById(id).childNodes[2].value;
                ngong = document.getElementById(id).childNodes[0].value;

                console.log("idk", idk)
                console.log("ngong", ngong)

            }

            if (ngong == '' && idk =='')
            {
                 what.remove()
            }
            else
            {
                var check = confirm("ARE YOU OKAY TO DELETE?");
                if (check == true)
                {
                    what.remove()
                }
            }

        }
        function addDay(divName)
        {
             var newdiv = document.createElement('div');
              newdiv.id = divName + counter;
              var str=divName + "waan";
              str = str.concat(counter);
              var names = divName;
              var strr= divName + counter + divName;
              console.log("newdiv", newdiv)
              console.log("divName", divName)
              console.log("str", str)
              console.log("waan")
              newdiv.innerHTML =  "<input type = 'number' class='idk'>";
        }

        function selectSs(){
           console.log("it works!")

           var selectss = document.getElementById("selectss").value;
           var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function()
            {
            if (this.readyState == 4 && this.status == 200)
            {
                console.log("comeon letsgo!")
                console.log("letsgo?",this.responseText)
                sentback = JSON.parse(this.responseText)
                console.log("yea", sentback["id"])
                var seedspeciesname = sentback["seedspecies"]
                document.getElementById("ssletsgo").value = sentback["id"]


                console.log("yeseedspecisfadfa", seedspeciesname)
            }
            };

           var selectss = encodeURIComponent(selectss)
           console.log("encoded", selectss)
           xhttp.open("POST", "newassumption", true)
           xhttp.setRequestHeader("Content-Type", "application/json");
           data = JSON.stringify({"id": selectss});
           console.log("waan", data)
           xhttp.send(data)


           console.log("selects", selectss)


        }
        function selectmedicine(event){

            console.log("event: ", event.target.id)
            latestclick = event.target.value
            console.log(latestclick)
            console.log(event.target)

            var newmedicineontop = document.getElementById("newmedicineontop").children



            var medicineselection = []
            var whatisthisidk = document.getElementById("newmedicineontop").children.id
            console.log("whatisthisidk", whatisthisidk)
            console.log("newmedicndaniontop", newmedicineontop)
            for (var i = 0;i < newmedicineontop.length;i++){

               var supertest = newmedicineontop[i].children[0].value
               var supertest1 = newmedicineontop[i].children[0].id
                var supertest1 = document.getElementById(supertest1).children
                console.log("supertest1", supertest1)



              console.log(i)
              console.log("supertest", supertest)


              var checker = i



              for (var j = 0;j <  newmedicineontop.length; j++){
                  if (j != checker && supertest != "")
                  {
                    var supertest2 = newmedicineontop[j].children[0].value
                    var supertest2up = newmedicineontop[j].children[0]
                    console.log("supertest", supertest2)


                    if (supertest == supertest2)
                    {
                        var confirm = alert("MEDICINE ALREADY SELECTED CANNOT SELECT");
                        var gotryyy = supertest2up.id
                       // var gotryy = supertest1.id
                        //console.log("gotryy", gotryy)
                        //document.getElementById(gotryy).selectedIndex = "0"
                        event.target.selectedIndex = "0"

                    }
                  }

              }

             medicineselection.push(supertest)
             console.log(medicineselection)
           }
        }


        function saveInformation(event)
        {

            console.log(event)
            console.log("aaa", event.target.form.selectss.length)
            console.log("bbb", event.target.form.selectss[1])
            if (event.target.form.selectss.value == "")
            {
                alert("You forgot to select seedspecies name")
                throw new Error()
            }

            //FIRST CAROUSEL OF FIRST BLOCK GG///////
            ////////////////////////////////
            console.log("length", event.target.form.length)
            for (i = 0, w = event.target.form.length; i < w; i++)
            {
                if (event.target.form[i].id == "selectss")
                {
                    for (j = 0, w = event.target.form.selectss.length; j < w; j++)
                    {
                        console.log("adffad",event.target.form[i][j] )
                        console.log(event.target.form[i][j].selected)
                        if (event.target.form[i][j].selected == true)
                        {
                            console.log(event.target.form[i][j].innerHTML)
                            var ss_name = event.target.form[i][j].innerHTML
                            console.log("jud ma yer ai sus",ss_name)
                            break;
                        }

                    }


                }
            }
            console.log("ssname", ss_name)
            longtoongdays = document.getElementById("longtoong").value
            console.log("longtoongdays", longtoongdays)
            longtoonglength = longtoongdays.length
            console.log("longtoonglength", longtoonglength)
            for (i = 0, w = longtoonglength; i < w; i++)
            {
                longtoongchar = longtoongdays[i]
                console.log("thisiswhatever", longtoongchar)
            }
            if (event.target.form.id == "selectss")
            {
                console.log("selectss does faking works")
                if (event.target.form.selected == "true")
                {
                    console.log("faker")
                    console.log(event.target.form.innerHTML)
                }
            }

            console.log("mother faker lets go pls work", document.getElementById("selectss").value.innerHTML)
            console.log("longtoong", longtoongdays)

            console.log("kindasuccessfullll")
            var fhfb = document.getElementById("firstblock/21").value
            console.log("fhfb", fhfb)
            var ratiofhfb = document.getElementById("ratiofirstblock1stcarousel").value

            var notefhfb = document.getElementById("notefhfb").value
            console.log(notefhfb)



            //SHFB??????////////////////////////////////////////////////////////

            var shfb = document.getElementById("firstblock/22").value
            console.log("shfb", shfb)
            var ratioshfb = document.getElementById("ratiofirstblock2ndcarousel").value

            var noteshfb = document.getElementById("noteshfb").value

            //fhsb///////////////////////////////////////////////////////////////////////////////

            var fhsb = document.getElementById("secondblock/21").value
            console.log("fhsb", fhsb)
            var ratiofhsb = document.getElementById("ratiosecondblock1stcarousel").value

            var notefhsb = document.getElementById("notefhsb").value



            //shsb//////////////////////////////////////////////////////////////////////////////////////////////

            var shsb = document.getElementById("secondblock/22").value
            console.log("shsb", shsb)
            var ratioshsb = document.getElementById("ratiosecondblock2ndcarousel").value

            var noteshsb = document.getElementById("noteshsb").value



            //thsb//////////////////////////////////////////////////////////////////////////////////////////
            var fb = document.getElementById("firstblocknumdays").value
            console.log("fb",fb)
            var sb = document.getElementById("ssletsgo").value
            console.log("sb", sb)
            var thsb = document.getElementById("secondblock/23").value
            console.log("thsb", thsb)
            console.log("thsb", thsb)
            var ratiothsb = document.getElementById("ratiosecondblock3rdcarousel").value

            var notethsb = document.getElementById("notethsb").value


            var sessionname = document.getElementById("sessionname").value
            if (sessionname == "")
            {
                alert("You forgot to put in an assumption name")
                throw new Error()
            }

            console.log("ngong", )
            itemsselectmed = []
           // console.log("medicine is king", document.getElementsByName("selectmed").length)
            medicinelengthlength = document.getElementsByName("selectmed").length
            if (medicinelengthlength == 0)
            {
                alert("You forgot to input a medicine")
                throw new Error()

            }
            for (i = 0, w = document.getElementsByName("selectmed").length; i < w; i++)
            {
                selectmed = document.getElementsByName("selectmed")[i].value
                itemsselectmed.push(selectmed)
            }

            fb = parseInt(fb)
            fhfb = parseInt(fhfb)
            shfb = parseInt(shfb)
            sb = parseInt(sb)
            fhsb = parseInt(fhsb)
            shsb = parseInt(shsb)
            thsb = parseInt(thsb)

            if ((fhfb + shfb) != fb)
            {
                alert("First Half of First Block + Second Half of First Block needs to EQUAL First Block")
                throw new Error()
            }

            if((fhsb + shsb + thsb) != sb)
            {
                alert("First Half of Second Block + Second Half of Second Block + Third Half of Second Block needs to EQUAL Second Block")
                throw new Error()

            }
            var xhttpp = new XMLHttpRequest();
            xhttpp.onreadystatechange = function()
            {
            if (this.readyState == 4 && this.status == 200)
            {
                console.log("comeon letsgo!")
                console.log("letsgo?",this.responseText)
                document.getElementById("useless").remove()
                alert("Everything is saved!")
                document.getElementById("savebutton").disabled = false;


            }
            };


            checkforsave = "true"
            document.getElementById("savebutton").disabled = true;
            var newdiv = document.createElement('div');
            newdiv.innerHTML = "<div id='useless'class='alert alert-primary' role='alert'>saving........</div>"
            document.getElementById("justadiv").appendChild(newdiv)
            xhttpp.open("POST", "newassumption", true)
            xhttpp.setRequestHeader("Content-Type", "application/json");
            data = JSON.stringify({"fhfb": fhfb, "ratiofhfb": ratiofhfb,
            "notefhfb": notefhfb, "shfb": shfb, "ratioshfb": ratioshfb,
            "noteshfb": noteshfb, "fhsb": fhsb, "ratiofhsb": ratiofhsb,
            "notefhsb": notefhsb, "shsb":shsb, "ratioshsb":ratioshsb,
            "noteshsb": noteshsb, "thsb": thsb, "ratiothsb": ratiothsb, "notethsb": notethsb, "fb":fb, "sb":sb, "assumptionname":sessionname, "itemsselectmed": itemsselectmed, "longtoongdays": longtoongdays, "ssname": ss_name, "checkforsave": checkforsave});
            xhttpp.send(data)
        }




        </script>








    <body>
        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                   {{ get_flashed_messages() | join(" ")}}
                </div>
            </header>
        {% endif %}

        {% with messages = get_flashed_messages() %}
       {% if messages %}
      {% for message in messages %}
         <header>
                <div class="alert alert-primary border text-center" role="alert">
                   {{ message }}
                </div>
            </header>
      {% endfor %}
   {% endif %}
{% endwith %}

        <nav class="navbar navbar-expand-md navbar-light bg-warning ">
            <a class="navbar-brand" href="/"><span class="blue">R</span><span class="red">A</span><span class="yellow">V</span><span class="green">I</span> <span class="red">Melon</span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">

                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link text-dark" href="/">Today</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="/rong">โรง</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="/management">Management</a></li>
                        <li class="nav-item"><a class="nav-link text-dark" href="/assumption">Assumption</a></li>
            </div>
        </nav>



        <div class="todaynav">
        <nav class="navbar-waan">
        <div class="d-flex justify-content-between">

           <a class = "he"href="/assumption"><svg width="24" height="24"  xmlns="http://www.w3.org/2000/svg"><path d="M20 .755l-14.374 11.245 14.374 11.219-.619.781-15.381-12 15.391-12 .609.755z"/></svg>
            </a>
            <small class="rongname">  {{assumptionname}} </small>
            <small></small>

        </div>
        </nav>
        </div>




<form action="/newassumption" method="post">
    <div id="justadiv"></div>
    <div class="fortopcss">
    <div class="d-flex justify-content-between">
            <h1 class="itsme">FUNDAMENTAL SETTINGS </h1>

            <div class="whatev">
           <input type="button" id="savebutton"class="btn btn-success" value="save" onClick="saveInformation(event)">
            </div>
            </div>
            </div>

            <h3 class="titlef">Assumption Name</h3>
            <input id="sessionname" type = "text" value="{{assumptionname}}" name="rongcapacity" placeholder="Assumption Name" >



            <h3 class="titlef">Seed Species</h3>

        <div class="speciesdate">

            <select id = "selectss" onchange="selectSs()">{% for row in itemsddseedspecies %}<option name = "optionseedspecies" value="{{row.optionseedspeciesid}}" {% if seedspeciesname == row.seedddspeciess %} selected {% endif %}>{{row.seedddspeciess}}</option>{% endfor %}</select>

        </div>
            <h3 class="titlef">How many days until ลงถุง?</h3>
            <input id="longtoong" type = "number" min="0" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"  value="{{longtoong}}" name="longtoongname" placeholder="number of days">


             <h3 class="titlef">What medicine do you need for this session?</h3>
        <div class"makeitacolumn">

                 <div id="newmedicineontop">
                      {% for roww in itemsselectmed %}
                     <div id="newmedicineontop0">
                    <select class="input" id = "selectselect" name="selectmed" onchange="selectmedicine(event)">
                    {% for row in itemsmedicinedd %}
               <option  name = "optionseedspecies" value="{{row.medicineddd}}"  {% if roww.med == row.medicineddd %} selected {% endif %}> {{row.medicineddd}}</option>
                             {% endfor %}
             </select>
                    <input type="button"class="weknowdeletee" value="x" onClick="deleteInput(event);">

</div>
 {% endfor %}
                        </div>

                        <input type="button" class="addmed" value="+" onClick="addInput('newmedicineontop');">

                        </div>



       <table class = "table table-striped table-borderless" id="table1">
                <TR>

                <TH class="fb">First Block</TH>
                <TH class="fb"></TH>
                <TH class="fb"></TH>

                </TR>

                <TR>
                <TH class= "nfb"><input id = "firstblocknumdays" type = "number" min="0" value="{{fb}}" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"  name="firstblock" placeholder="First Block" ></TH>
                <TH class= "nfb"></TH>
                <TH class= "nfb"></TH>
                </TR>

                <TR>
                <TH class="fb">First Half of First Block</TH>
                <TH class="fb">Ratio</TH>
                <TH class="fb">Note</TH>

                </TR>
                <TR>
             <TD class="nfb"><input id="firstblock/21" class="fhfbdays" type = "number" value="{{fhfb}}"min="0" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" name="firstblock/21" placeholder="First Half of 1st Block"></TD>
      <TD class="nfb"><input id="ratiofirstblock1stcarousel"  value="A1:B1" type="text"></TD>
    <TD class="nfb"><textarea id="notefhfb"  placeholder="NOTE" class="textarea"> {{notefhfb}}</textarea></TD>

   </TR>
   <TR>
                <TH class="fb">Second Half of First Block</TH>
                <TH class="fb">Ratio</TH>
                <TH class="fb">Note</TH>

                </TR>
   <TR>

        <TD class="nfb"> <input id="firstblock/22" type = "number" min="0" name="firstblock/22"onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" value="{{shfb}}"placeholder="First Half of 2nd Block"></TD>
      <TD class="nfb"><input id="ratiofirstblock2ndcarousel" value="A1:B1" type="text" name="ratiofirstblock2ndcarousel"></TD>
    <TD class="nfb"><textarea id="noteshfb"  placeholder="NOTE" class="textarea"> {{noteshfb}}</textarea></TD>

   </TR>
    </table>




  <table class = "table table-info table-striped table-borderless" id="table1">
                <TR>

                <TH class="idkfb">Second Block</TH>
                <TH class="idkfb"></TH>
                <TH class="idkfb"></TH>

                </TR>

                <TR>
                <TH class="lastonefb"> <input id = "ssletsgo" type="text" name="secondblock" value="{{sb}}" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" placeholder="Second Block" type="text"></TH>
                <TH class="lastonefb"></TH>
                <TH class="lastonefb"></TH>
                </TR>

                <TR>
                <TH class="idkfb">First Half of Second Block</TH>
                <TH class="idkfb">Ratio</TH>
                <TH class="idkfb">Note</TH>

                </TR>
                <TR>
             <TD class="lastonefb"> <input id = "secondblock/21" type = "number" min="0" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57"  value="{{fhsb}}"name="secondblock/21" placeholder="1st Half of 2nd Block"></TD>
      <TD class="lastonefb"><input id="ratiosecondblock1stcarousel" value="A2:B2" type="text" name="ratiosecondblock1stcarousel"></TD>
        <TD class="lastonefb"><textarea id="notefhsb"  placeholder="NOTE" class="textarea"> {{notefhsb}}</textarea></TD>

   </TR>
   <TR>
                <TH class="idkfb">Second Half of Second Block</TH>
                <TH class="idkfb">Ratio</TH>
                <TH class="idkfb">Note</TH>

                </TR>
   <TR>

        <TD class="lastonefb"><input type = "number" id="secondblock/22" min="0" value="{{shsb}}" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" name="secondblock/22" placeholder="2nd Half of 2nd Block"from type="text"></TD>
      <TD class="lastonefb"><input id="ratiosecondblock2ndcarousel"  value="A2:B2" type="text" name="ratiosecondblock2ndcarousel"></TD>
    <TD class="lastonefb"><textarea id="noteshsb"  placeholder="NOTE" class="textarea"> {{noteshsb}}</textarea></TD>

   </TR>

               <TH class="idkfb">Third Half of Second Block</TH>
                <TH class="idkfb">Ratio</TH>
                <TH class="idkfb">Note</TH>

                </TR>
   <TR>


        <TD class="lastonefb"><input type = "number" id="secondblock/23" min="0" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57" name="secondblock/23" value="{{thsb}}" placeholder="3rd Half of 2nd Block"from type="text"></TD>
<TD class="lastonefb"><input id="ratiosecondblock3rdcarousel" value="K" type="text" name="ratiosecondblock3rdcarousel"></TD>
    <TD class="lastonefb"><textarea id="notethsb"  class="textarea" placeholder="NOTE"> {{notethsb}}</textarea></textarea></TD>

   </TR>

    </table>





    </body>

</html>
